@model List<LojaSeven.Entidades.Compra>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nome</td>
        <td>@item.Produtos?.nomeProduto</td>
        <td>@item.Produtos?.valorProduto</td>
        <td>@item.TipoPagamento?.Tipo</td>
        <td>@item.DataCompra.ToString("dd/MM/yyyy")</td>
    </tr>
}