@model LojaSeven.Models.AllComprasViewModel;
@{
    ViewData["Title"] = "All Compras Page";
    Layout = null;
}

<!-- Linkando o arquivo ccs da tabela -->
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

@Html.Partial("_LateralMenu")

<div class="container mt-5" style="margin-top: 50px; margin-left: 210px">
    <!-- Filtros de pesquisa -->
    <div class="row mb-4">
        <!-- Campo de Nome Comprador-->
        <div class="form-group col-md-4">
            <label for="name">Nome:</label>
            <input type="text" id="name" class="form-control" placeholder="Digite nome do comprador">
        </div>
        <!-- Campo de Produtos-->
        <div class="form-group col-md-4">
            <label for="produtosSelect">Produto:</label>
            <select id="produtosSelect" class="form-control">
                <option value="">Todos</option>
                @foreach (var produto in Model.Produtos)
                {
                    <option value="@produto.idProduto" data-valor='@produto.valorProduto'>@produto.nomeProduto</option>
                }
            </select>
        </div>
        <!-- Campo de Metodo Pagamento-->
        <div class="form-group col-md-4">
            <label for="pagamentoSelect">Método de Pagamento:</label>
            <select id="pagamentoSelect" class="form-control">
                <option value="">Todos</option>
                @foreach (var pagamento in Model.TipoPagamento)
                {
                    <option value="@pagamento.IdPagamento">@pagamento.Tipo</option>
                }
            </select>
        </div>
        <!-- Campos de Data-->        
        <div class="form-group col-md-3">
            <label for="startDate">Data Inicio:</label>
            <input type="date" id="startDate" class="form-control" />
        </div>

        <div class="form-group col-md-3">
            <label for="endDate">Data Fim:</label>
            <input type="date" id="endDate" class="form-control" />
        </div>
        <!-- Botoes-->
        <div class="form-group col-md-3 d-flex align-items-end">
            <button type="button" class="btn btn-primary w-100" id="btnFilter">Pesquisar</button>
        </div>

        <div class="form-group col-md-3 d-flex align-items-end">
            <button type="button" class="btn btn-success w-100" id="btnExport">Exportar Excel</button>
        </div>
    </div>

    <div class="table-responsive" style="margin-top: 20px">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Pagamento</th>
                    <th>Data da Compra</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model.Compra)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Produtos.nomeProduto</td>
                        <td>@item.Produtos.valorProduto</td>
                        <td>@item.TipoPagamento.Tipo</td>
                        <td>@item.DataCompra</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/js/AllCompras/allCompras.js"></script>